extends ../../../templates/master.pug

block content
    br
    br
    div.ui.container
        div.ui.centerer
            div.ui.segment.ping.p-adjust
                div.ui.container
                div.ui.ribbon.label.huge.inverted.blue 
                    p #{Class ? 'Edit' : 'Add'} Class
                .ui.container.inverted.teal.height3
                    form#form.ui.form.mleft(method="POST" action=`/maintenance/Class${Class ? `/${Class.strClassID}?_method=PUT`: '/new'}`)
                        div.ui.field
                            label.ui.large.teal.tag Class
                            input(type="text" name="etname" value=Class ? Class.strClassName : '')
                        if(!Class)
                            div.ui.field
                                input(type="hidden" name="etid" value=ID)
                        div#butt.warp2.height2
                            button#add.ui.labeled.orange.icon.button.rightp(type="submit")
                                i.add.icon
                                p #{Class ? 'Update' : 'Add'}
                            a.button.ui.labeled.orange.icon.button.rightp(href="/maintenance/Class")
                                i.add.icon
                                p Back